<%@ Page Language="C#"  AutoEventWireup="true" CodeFile="BillingRunning.aspx.cs" Inherits="BillingRunning" Title="Untitled Page" %>


<br />
<asp:label id="Label1" runat="server" font-bold="True" font-names="Arial" forecolor="Navy"
    text="Billing Running ...Please Wait"></asp:label>
<br />

