<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="CdrsDownloaderCCPH.aspx.cs" Inherits="CdrsDownloader" Title="DIRECTO - Connections Worldwide" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" Text="Stored Months:" CssClass="labelBal"></asp:Label>
    <br />
    <asp:HyperLink ID="HyperLink1" runat="server" CssClass="labelOrange20"
                     NavigateUrl="http://mecca.directo.com/Month/CallCenterPH/january2015.rar">January</asp:HyperLink>
</asp:Content>

