<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="CDRSbyWeek2.aspx.cs" Inherits="CDRSbyWeek2" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<script language="javascript">         
        window.open('http://mecca3.computer-tel.com/week2/','window');
    </script>
    
</asp:Content>

