<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="CDRSbyWeek.aspx.cs" Inherits="CDRSbyWeek" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<asp:Label ID="Label1" runat="server" Text="CDRS BY WEEK" CssClass="labelTurkH"></asp:Label>
    <table align="left" style="position:absolute; top:220px; left:230px; width:100%; height:100%">
        <tr>
            <td style="width: 100px">
                
                </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <asp:Label ID="lblContent" runat="server" CssClass="labelBlue8" Text="Label"></asp:Label></td>
        </tr>
        <tr>
            <td style="width: 100px; height: 160px">
            </td>
        </tr>
        <tr>
            <td>
            
            <asp:Image ID="Image1" runat="server" ImageUrl="Images/footer.gif" Width="100%" />
            </td>
        </tr>
        <tr>
            <td >
            <table align="left">
                    <tr>
                        <td align="right" >
                            <asp:Label ID="Label4" runat="server" ForeColor="#666666" Text="Powered by" Font-Italic="False"
                                Font-Names="Arial" Font-Size="8pt" Visible="True"></asp:Label></td>
                        <td >
                            <asp:Image ID="Image4" runat="server" ImageUrl="~/Images/computertel.gif" Height="45px"
                                Width="146px" Visible="True" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</asp:Content>

