<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="CreateBroker.aspx.cs" Inherits="ManageSim" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table align="left">
        <tr>
            <td style="width: 100px; height: 22px">
            </td>
            <td style="width: 100px; height: 22px">
            </td>
            <td style="width: 100px; height: 22px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <asp:Label ID="Label2" runat="server" CssClass="labelTurk" Text="CREATE BROKER"></asp:Label></td>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px; height: 25px">
            </td>
            <td style="width: 100px; height: 25px">
            </td>
            <td style="width: 100px; height: 25px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" align="right">
                <asp:Label ID="Label1" runat="server" CssClass="labelTurk" Text="Name:"></asp:Label></td>
            <td style="width: 100px">
                <asp:TextBox ID="txtName" runat="server" CssClass="labelSteelBlue"></asp:TextBox></td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px" align="right" abbr=" ">
                &nbsp;<asp:Button ID="cmdCreate" runat="server" CssClass="boton" OnClick="cmdCreate_Click"
                    Text="Create" /></td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px; height: 23px">
            </td>
            <td abbr=" " align="right" style="width: 100px; height: 23px">
            </td>
            <td style="width: 100px; height: 23px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td colspan="2">
                <asp:Label ID="lblInsert" runat="server" CssClass="labelTurk" Text="Label" Visible="False"></asp:Label></td>
        </tr>
    </table>
</asp:Content>

