<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="DynamicDataB.aspx.cs" Inherits="DynamicDataB" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <table>
        <tr>
            <td>
                <asp:Label ID="lblHeader" runat="server" Text="Difference" CssClass="labelBlue8"></asp:Label></td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="lbl_1" runat="server" Text="A-B=" CssClass="labelBlue8"></asp:Label></td>
            <td>
                <asp:Label ID="lbl_Diff" runat="server" Text="" CssClass="labelBlue8"></asp:Label></td>
        </tr>
    </table>
</asp:Content>

