<%@ Application Language="C#" %>

<script runat="server">

    void Application_Start(object sender, EventArgs e) 
    {
        // Code that runs on application startup
    }
    
    void Application_End(object sender, EventArgs e) 
    {
        //  Code that runs on application shutdown
      
        
    }
        
    void Application_Error(object sender, EventArgs e) 
    { 
        // Code that runs when an unhandled error occurs

    }

    void Session_Start(object sender, EventArgs e) 
    {
        // Code that runs when a new session is started
        //Session.Timeout = 480;
        Session["Rol"] = string.Empty;
	    Session["DirectoUser"] = string.Empty;
        
        Session["GROUPDELETED"] = string.Empty;
        Session["RememberMe"] = string.Empty;
        Session["ww"] = string.Empty;
        Session["Tree"] = 0;
        Session["PrefixMonitor"] = string.Empty;
        Session["ReportChoosed"] = 7;//Master Sales Log,(Personalized)
        Session["CountrySelected"] = 0;//Master Sales Log,default value
        Session["idFrame"] = 0;
        Session["SalesLogS"] = string.Empty;
        

    }

    void Session_End(object sender, EventArgs e) 
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }
       
</script>
