<%@ Page Language="C#"  AutoEventWireup="true" CodeFile="GraphDetails.aspx.cs" Inherits="GraphDetails" Title="Untitled Page" %>
<%@ Register Assembly="DundasWebChart" Namespace="Dundas.Charting.WebControl" TagPrefix="DCWC" %>

<dcwc:chart id="Chart1" runat="server" palette="Pastel"><Series>
<DCWC:Series BorderColor="64, 64, 64" ShadowOffset="1" Name="Series1" ChartType="Doughnut"></DCWC:Series>
</Series>
<ChartAreas>
<DCWC:ChartArea BorderColor="" Name="Default"></DCWC:ChartArea>
</ChartAreas>
<Legends>
<DCWC:Legend Name="Default"></DCWC:Legend>
</Legends>
</dcwc:chart>





