<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="GraphPer.aspx.cs" StylesheetTheme="Theme1" Inherits="GraphPer" Title="DIRECTO - Connections Worldwide" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
    Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:ScriptManager runat="server" id="ScriptMngr">
    </asp:ScriptManager>
    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Style=" position:static;"
        ExportContentDisposition="AlwaysInline" Height="4500px" ProcessingMode="Remote"
        Width="1000px" AsyncRendering="true" >
        
        <ServerReport ReportPath="/NOC/Graph_LiveCalls" />
    </rsweb:ReportViewer>
<table width="100%" style="position:static ; top: 132px; left: 203px;">
<tr>
<td colspan="3" align="left" valign="top">
    <table>
<tr>
<td>

</td>
</tr>
</table>
    </td>
</tr>
<tr>

<tr>
<td colspan="3">

</td>
</tr>
</table> 
    

      
    
</asp:Content>

