<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="GraphCus.aspx.cs" Inherits="GraphCus" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script language="javascript">         
        window.open('http://mecca3.computer-tel.com/ReportServer/Pages/ReportViewer.aspx?%2fFinancial%2fGraph_ProviderPerformance&rs%3aCommand=Render','window');
    </script>

 <br />
    <asp:Label ID="Label1" runat="server" CssClass="labelTurk" Text="The requested page will be displayed on new window, You must approve this action."></asp:Label>
    <br />
    <br />
    <asp:Label ID="Label4" runat="server" CssClass="labelTurk" Text="there are many Pop up blockers (Yahoo, Google, McAfee, Symantec, etc.) The most common is Internet Explorer. See below:"></asp:Label><br />
    <br />
    <asp:Label ID="Label2" runat="server" CssClass="labelTurk" Text="When you clicked the link, the Information bar will reflect a security message as seen here."></asp:Label>
    <br />
    <br />
    <asp:Image ID="Image1" runat="server" ImageUrl="~/Picture1.png" /><br />
    or<br />
    <asp:Image ID="Image2" runat="server" ImageUrl="~/Picture2.png" /><br />
    or<br />
    <asp:Image ID="Image4" runat="server" ImageUrl="~/Picture3.png" /><br />
    <br />
    <asp:Label ID="Label5" runat="server" CssClass="labelTurk" Text="NOTE: If you click on the Information Bar where it states To help protect your security, Internet Explorer has blocked this site. Click here for options, you have the option to allow Pop-ups temporarily or Always from this site. Please select the Always from this site."></asp:Label>
 <script language="javascript">         
        window.open('http://mecca3.computer-tel.com/ReportServer/Pages/ReportViewer.aspx?%2fFinancial%2fGraph_Profit&rs%3aCommand=Render','window');
    </script>

    <br />
    <br />
    <asp:Image ID="Image5" runat="server" ImageUrl="~/Picture4.png" />
    <table visible="false" width="100%" style="position: absolute; top: 750px; left: 230px;">
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="3">
                <asp:Image ID="Image3" runat="server" ImageUrl="Images/footer.gif" Width="100%" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <table>
                    <tr>
                        <td align="right" colspan="3">
                            <asp:Label ID="Label3" runat="server" ForeColor="#666666" Text="Powered by" Font-Italic="False"
                                Font-Names="Arial" Font-Size="8pt" Visible="True"></asp:Label></td>
                        <td style="width: 100px">
                            <asp:Image ID="Image9" runat="server" ImageUrl="~/Images/computertel.gif" Height="45px"
                                Width="146px" Visible="True" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        
    </table>
</asp:Content>

