<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="HomeCCCust.aspx.cs" Inherits="HomeCC" Title="DIRECTO - Connections Worldwide" StylesheetTheme="Theme1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<div id="header" style="position: fixed; top: 50%; left: 50% ;margin-top: -50px; margin-left: -100px;">
    <asp:Label ID="Label1" runat="server" Text="Remaining Balance: 0 MXN" Visible="false"
     style="color: #336699; font-family: Arial, Helvetica, sans-serif; font-size: 15pt; font-weight: 700; "></asp:Label>
     <br />
     <asp:Label ID="Label2" runat="server" Text="Remaining Balance: 0 MXN" Visible="false"
     style="color: #336699; font-family: Arial, Helvetica, sans-serif; font-size: 15pt; font-weight: 700; "></asp:Label>
</div>     
    <%--<table align="left" id="tblMain" cellpadding="6" style="height: 400px; width: 300px;
        position: absolute; top: 140px; left: 220px;">
        
        <tr>
            <td rowspan="4" style="height: 650px;" valign="top" width="250">
                <img border="0" src="Images/meccasummary.gif" height="24">
                <table border="0" width="264" id="tblSummary" cellspacing="0" cellpadding="0">
                    <tr height="18px">
                        <td width="72" height="20">
                        </td>
                        <td height="20" valign="middle" style="width: 71px">
                            <b><font color="#004D88" style="font-size: 8pt; color: #004d88; font-family: Arial;
                                margin-bottom: 2px; vertical-align: middle;">&nbsp; &nbsp;&nbsp; Latest</font></b>
                        </td>
                        <td width="113" colspan="2" height="20" valign="middle">
                            <b><font color="#004D88" style="font-size: 8pt; color: #004d88; font-family: Arial;
                                margin-bottom: 2px; vertical-align: middle;">&nbsp; &nbsp; &nbsp;&nbsp; Change</font></b></td>
                    <tr>
                    <tr>
                        <td width="248" colspan="4">
                            <img border="0" src="Images/line.gif" width="264" height="1"></td>
                    </tr>
                    <tr>
                        <td width="72" align="left">
                            <font color="#004D88" style="font-size: 8pt; margin-left: 10px; margin-top: 5px;
                                margin-bottom: 5px; color: #004d88; font-family: Arial">Minutes</font>
                        </td>
                        <td style="width: 71px">
                            <font color="#666666" style="font-size: 8pt; margin-top: 5px; margin-bottom: 5px;
                                color: #666666; font-family: Arial">&nbsp;
                                <asp:Label ID="lblMinutesY" runat="server"></asp:Label>
                            </font>
                        </td>
                        <td width="85">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#339933" style="font-size: 8pt; color: #339933; font-family: Arial">
                                    <asp:Label ID="lblMinutesC" runat="server" Text="Label"></asp:Label></font>
                            &nbsp;</td>
                        <td width="19" align="center">
                            <asp:Image ID="Image4" runat="server" /></td>
                    </tr>
                    <tr>
                        <td width="248" colspan="4">
                            <img border="0" src="Images/line.gif" width="264" height="1"></td>
                    </tr>
                    <tr>
                        <td width="72">
                            <p align="left" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px">
                                <font color="#004D88" style="font-size: 8pt; color: #004d88; font-family: Arial">Calls</font>
                        </td>
                        <td style="width: 71px">
                            <font color="#666666" style="font-size: 8pt; margin-top: 5px; margin-bottom: 5px;
                                color: #666666; font-family: Arial">&nbsp; &nbsp;
                                <asp:Label ID="lblCallsY" runat="server"></asp:Label></font></td>
                        <td width="85">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#FF3300" style="font-size: 8pt; color: red; font-family: Arial">
                                    <asp:Label ID="lblCallsC" runat="server" Text="Label"></asp:Label></font>
                        </td>
                        <td width="19" align="center">
                            <asp:Image ID="Image5" runat="server" /></td>
                    </tr>
                    <tr>
                        <td width="248" colspan="4">
                            <font color="#004D88">
                                <img border="0" src="Images/line.gif" width="264" height="1"></font></td>
                    </tr>
                    <tr>
                        <td width="72">
                            <p align="left" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px">
                                <font color="#004D88" style="font-size: 8pt; color: #004d88; font-family: Arial">ASR</font>
                        </td>
                        <td style="width: 71px">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#666666" style="font-size: 8pt; color: #666666; font-family: Arial">
                                    <asp:Label ID="lblASRY" runat="server"></asp:Label>
                                </font>
                        </td>
                        <td width="85">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#339933" style="font-size: 8pt; color: #339933; font-family: Arial">
                                    <asp:Label ID="lblASRC" runat="server" Text="Label"></asp:Label></font>
                        </td>
                        <td width="19" align="center">
                            <asp:Image ID="Image8" runat="server" /></td>
                    </tr>
                    <tr>
                        <td width="248" colspan="4">
                            <font color="#004D88">
                                <img border="0" src="Images/line.gif" width="264" height="1"></font></td>
                    </tr>
                    <tr>
                        <td width="72">
                            <p align="left" style="margin-left: 10px; margin-top: 5px; margin-bottom: 5px">
                                <font color="#004D88" style="font-size: 8pt; color: #004d88; font-family: Arial">ACD</font>
                        </td>
                        <td style="width: 71px">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#666666" style="font-size: 8pt; color: #666666; font-family: Arial">
                                    <asp:Label ID="lblACDY" runat="server"></asp:Label>
                                </font>
                        </td>
                        <td width="85">
                            <p align="center" style="margin-top: 5px; margin-bottom: 5px">
                                <font color="#339933" style="font-size: 8pt; color: #339933; font-family: Arial">
                                    <asp:Label ID="lblACDC" runat="server" Text="Label"></asp:Label></font>
                        </td>
                        <td width="19" align="center">
                            <asp:Image ID="Image10" runat="server" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <td rowspan="4" style="height: 850px; width: 168px;" valign="top" align="left">
                <table border="0" width="100%" id="tblCenter" cellspacing="0" cellpadding="0" align="left">
                    <tr>
                        <td valign="top">
                            <table border="0" width="30%" id="table15" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" bgcolor="#d5e3f0" colspan="3" height="20">
                                        <asp:Image ID="Image2" runat="server" ImageUrl="~/Images/topcustvend.gif" /></td>
                                </tr>
                                <tr>
                                    <td width="100%" colspan="3" align="left" height="24" valign="bottom">
                                        <table style="width: 100%">
                                            <tr>
                                                <td style="width: 33%" valign="bottom">
                                                    <asp:Label ID="Label6" runat="server" CssClass="labelBlue8" Font-Bold="True" Text="Customers"></asp:Label></td>
                                                <td style="width: 37%" align="right" valign="bottom">
                                                    <asp:Label ID="Label7" runat="server" CssClass="labelBlue8" Font-Bold="True">Minutes</asp:Label></td>
                                                <td align="right" valign="bottom" style="width: 34%">
                                                    <asp:Label ID="lblHeaderProfit1" runat="server" CssClass="labelBlue8" Font-Bold="True"
                                                        Text="Calls"></asp:Label></td>
                                            </tr>
                                        </table>
                                        <img border="0" src="Images/line.gif" width="264" height="1"></td>
                                </tr>
                                <tr>
                                    <td id="IMG" width="248" colspan="3" align="center" valign="top">
                                        <asp:Label ID="lblCusN" runat="server" Text="Not available" Visible="False" ForeColor="Red"></asp:Label></td>
                                </tr>
                                <tr>
                                    <td colspan="3" rowspan="5">
                                        <asp:GridView RowStyle-Height="18px" ID="gdvCustomers" runat="server" AutoGenerateColumns="False"
                                            CssClass="labelSteelBlue" Font-Bold="False" Font-Names="Courier New" ShowHeader="False"
                                            HorizontalAlign="Left" BorderStyle="Solid" BorderWidth="0px" ForeColor="#666666">
                                            <Columns>
                                                <asp:BoundField DataField="Customer" HtmlEncode="False" InsertVisible="False" ShowHeader="False">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Left" Width="220px" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Minutes" ShowHeader="False" HtmlEncode="false" DataFormatString="{0:0,0}"
                                                    ItemStyle-Width="199px">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Calls" ShowHeader="False" HtmlEncode="false" DataFormatString="{0:0,0}"
                                                    ItemStyle-Width="199px">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                                </asp:BoundField>
                                            </Columns>
                                            <RowStyle Height="18px" />
                                        </asp:GridView>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td width="100%" colspan="3">
                                        <img border="0" src="Images/line.gif" width="264" height="1"></td>
                                </tr>
                                <tr>
                                    <td width="100%" colspan="3" align="left" height="24">
                                        <table width="100%" align="center">
                                            <tr>
                                                <td style="width: 33%" valign="bottom">
                                                    <asp:Label ID="lblHeaderVendors" runat="server" Text="Vendors" CssClass="labelBlue8"
                                                        Font-Bold="True"></asp:Label></td>
                                                <td align="right" valign="bottom" width="33%">
                                                    <asp:Label ID="Label2" runat="server" CssClass="labelBlue8" Font-Bold="True">Minutes</asp:Label>
                                                <td valign="bottom" width="34%" align="right">
                                                    <asp:Label ID="lblHeaderProfit2" runat="server" CssClass="labelBlue8" Font-Bold="True"
                                                        Text="Calls"></asp:Label>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" colspan="3" align="center">
                                        <img border="0" src="Images/line.gif" width="264" height="1"><br />
                                        <asp:Label ID="lblVenN" runat="server" ForeColor="Red" Text="Not available"></asp:Label></td>
                                </tr>
                                <tr>
                                    <td colspan="3" rowspan="5" width="100%" style="height: 100px">
                                        <asp:GridView ID="gdVendors" RowStyle-Height="18px" runat="server" AutoGenerateColumns="False"
                                            CssClass="labelSteelBlue" Font-Bold="False" Font-Names="Courier New" ShowHeader="False"
                                            HorizontalAlign="Left" BorderStyle="Solid" BorderWidth="0px" ForeColor="#666666">
                                            <Columns>
                                                <asp:BoundField DataField="Vendor">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Left" Width="220px" />
                                                    <HeaderStyle HorizontalAlign="Left" />
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Minutes" DataFormatString="{0:0,0}" HtmlEncode="false">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" Width="199px" />
                                                    <HeaderStyle HorizontalAlign="Left" />
                                                </asp:BoundField>
                                               <asp:BoundField DataField="Calls" DataFormatString="{0:0,0}" HtmlEncode="false">
                                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" Width="199px" />
                                                    <HeaderStyle HorizontalAlign="Left" />
                                                </asp:BoundField>
                                            </Columns>
                                        </asp:GridView>
                                    </td>
                                </tr>
                        </table>
                   </td>
               </tr>
           </table> 
           </td>
        <td rowspan="4" style="height: 850px; width: 269px;" valign="top" align="left">
                <table border="0" width="100%" id="Table4" cellspacing="0" cellpadding="0" align="left">
                    <tr>
                        <td>
                            <asp:Image ID="Image12" runat="server" ImageUrl="~/Images/didportstatus.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left" height="24" valign="bottom">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 33%" valign="bottom">
                                        <asp:Label ID="Label8" runat="server" CssClass="labelBlue8" Font-Bold="True" Text="Provider"></asp:Label></td>
                                    <%--<td style="width: 37%" align="right" valign="bottom">
                                        <asp:Label ID="Label8" runat="server" CssClass="labelBlue8" Font-Bold="True">Minutes</asp:Label></td>--%>
                                    <%--<%--<td align="right" valign="bottom" style="width: 34%">
                                        <asp:Label ID="Label13" runat="server" CssClass="labelBlue8" Font-Bold="True"
                                            Text="Ports">
                                        </asp:Label>
                                    </td>
                                </tr>
                            </table>
                            <img border="0" src="Images/line.gif" width="264" height="1">
                        </td>
                    </tr>
                    <tr>
                        <asp:Label ID="Label14" runat="server" Text="Not available" Visible="false" ForeColor="Red"></asp:Label></tr>
                    <tr>
                        <td>
                        <asp:GridView RowStyle-Height="18px" ID="gdvdidProviders" runat="server" AutoGenerateColumns="False"
                            CssClass="labelSteelBlue" Font-Bold="False" Font-Names="Courier New" ShowHeader="False"
                            HorizontalAlign="Left" BorderStyle="Solid" BorderWidth="0px" ForeColor="#666666">
                            <Columns>
                                <asp:BoundField DataField="Providername"  HeaderText="Provider" HtmlEncode="False" InsertVisible="False" ShowHeader="False">
                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Left" Width="220px" />
                                </asp:BoundField>
                                <%--<asp:BoundField DataField="Minutes" ShowHeader="False" HtmlEncode="false" DataFormatString="{0:0,0}"
                                    ItemStyle-Width="199px">
                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                </asp:BoundField>
                                <asp:BoundField DataField="Ports" ShowHeader="False" HtmlEncode="false"  DataFormatString="{0:0,0}"
                                    ItemStyle-Width="199px">
                                    <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                </asp:BoundField>
                            </Columns>
                            <RowStyle Height="18px" />
                        </asp:GridView>
                        </td>
                    </tr>  
                    <tr>
                        <td>
                            <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/800traffic.gif" />
                        </td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="3" align="left" height="24" valign="bottom">
                            <table style="width: 100%">
                                <tr>
                                    <td style="width: 33%" valign="bottom">
                                        <asp:Label ID="Label1" runat="server" CssClass="labelBlue8" Font-Bold="True" Text="Customers"></asp:Label></td>
                                    <td style="width: 37%" align="right" valign="bottom">
                                        <asp:Label ID="Label3" runat="server" CssClass="labelBlue8" Font-Bold="True">Minutes</asp:Label></td>
                                    <td align="right" valign="bottom" style="width: 34%">
                                        <asp:Label ID="Label4" runat="server" CssClass="labelBlue8" Font-Bold="True"
                                            Text="Calls"></asp:Label></td>
                                </tr>
                            </table>
                            <img border="0" src="Images/line.gif" width="264" height="1"></td>
                    </tr>
                    <tr>
                        <td id="Td1" width="248" colspan="3" align="center" valign="top" style="height: 19px">
                            <asp:Label ID="lbl800N" runat="server" Text="Not available" Visible="False" ForeColor="Red"></asp:Label></td>
                    </tr>
                    <tr>
                        <td>
                             <asp:GridView RowStyle-Height="18px" ID="gv800" runat="server" AutoGenerateColumns="False"
                                CssClass="labelSteelBlue" Font-Bold="False" Font-Names="Courier New" ShowHeader="False"
                                HorizontalAlign="Left" BorderStyle="Solid" BorderWidth="0px" ForeColor="#666666">
                                    <Columns>
                                        <asp:BoundField DataField="Customer"  HeaderText="Customers" HtmlEncode="False" InsertVisible="False" ShowHeader="False">
                                            <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Left" Width="220px" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="Minutes" ShowHeader="False" HtmlEncode="false" 
                                            ItemStyle-Width="199px">
                                            <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                        </asp:BoundField>
                                        <asp:BoundField DataField="Calls" ShowHeader="False" HtmlEncode="false"  DataFormatString="{0:0,0}"
                                            ItemStyle-Width="199px">
                                            <ItemStyle Font-Names="Arial" Font-Size="8pt" HorizontalAlign="Right" />
                                        </asp:BoundField>
                                    </Columns>
                                    <RowStyle Height="18px" />
                            </asp:GridView>
                        </td>
                    </tr>
                </table>                      
           </td>
    </table>--%>
    
</asp:Content>

