<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="IpFinder.aspx.cs" Inherits="IpFinder" Title="Untitled Page" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table align="left">
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <asp:Label ID="Label1" runat="server" CssClass="labelSteelBlue" Text="Ip:"></asp:Label></td>
            <td style="width: 100px" align="left">
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox></td>
            <td align="left" style="width: 100px">
                <asp:Button ID="Button1" runat="server" CssClass="boton" Text="Search" /></td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px" align="left">
                </td>
            <td align="left" style="width: 100px">
                </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px" align="left">
                &nbsp;</td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td align="left" style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
                &nbsp;
            </td>
            <td style="width: 100px">
            </td>
        </tr>
    </table>
    <br />
    <br />


</asp:Content>

