<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="LiveNat.aspx.cs" Inherits="LiveNat" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table align="left" id="mainTable" >
          <tr>
              <td style="width: 106px" valign="top">
                  <asp:Label ID="Label1" runat="server" Font-Bold="False" Font-Italic="False" Text="Live traffic watch - NATIONAL" CssClass="labelTurk" Width="161px"></asp:Label></td>
              <td style="width: 100px" valign="top">
              
              </td>
          </tr>
          <tr>
              <td style="width: 106px" valign="top">
                  <asp:HyperLink ID="HyperLink1" runat="server" Font-Size="8pt" NavigateUrl="http://mecca.directo.com/upload/Capacity%20Allocation.xls">Capacity Allocation</asp:HyperLink></td>
                  
              <td style="width: 100px" valign="top">
              </td>
          </tr>
                    <tr>
                        <td style="width: 106px" valign="top" align="left">
                            <table>
                                <tr>
                                    <td style="width: 100px">
                                        <asp:Label ID="lblAll" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt"></asp:Label></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 100px" valign="top">
                        <table>
                                <tr>
                                    <td align="left" rowspan="7" style="width: 100px" valign="top">
                                        <table>
                                            <tr>
                                                <td style="width: 100px">
                                                    <asp:Label ID="Label2" runat="server" CssClass="labelTurk" Font-Names="Arial" Font-Size="8pt"
                                                        Text="NATIONAL OFF"></asp:Label></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px">
                                                    <asp:Label ID="lblNatOff" runat="server" Font-Names="Verdana" Font-Size="8pt" Text="Label"></asp:Label></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 100px" align="left">
                                        </td>
                                    <td style="width: 100px" align="left">
                                        <asp:Label ID="Label3" runat="server" Font-Size="8pt" Text="ALFA" Font-Bold="True" Font-Names="Arial" CssClass="labelTurk"></asp:Label></td>
                                    <td style="width: 100px" align="left">
                                        <asp:Label ID="Label5" runat="server" Font-Size="8pt" Text="STARCITY" Font-Bold="True" Font-Names="Arial" CssClass="labelTurk" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" align="left">
                                        </td>
                                    <td align="left" style="width: 100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px" valign="top" align="left">
                                        </td>
                                    <td style="width: 100px" valign="top" align="left">
                                        <asp:Label ID="lblAlfa" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt"></asp:Label></td>
                                    <td style="width: 100px" valign="top" align="left">
                                        <asp:Label ID="Label6" runat="server" Font-Names="Verdana" Font-Size="8pt" Text="Label"
                                            Width="80px"></asp:Label></td>
                                    <td style="width: 100px" valign="top" align="left">
                                        </td>
                                    <td align="left" style="width: 100px" valign="top">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px; height: 9px;">
                                    </td>
                                    <td style="width: 100px; height: 9px;">
                                    </td>
                                    <td style="width: 100px; height: 9px;">
                                    </td>
                                    <td style="width: 100px; height: 9px;">
                                        </td>
                                    <td style="width: 100px; height: 9px;">
                                    </td>
                                </tr>
                            <tr>
                                <td style="width: 100px" valign="top">
                                    </td>
                                <td style="width: 100px" valign="top">
                                </td>
                                <td style="width: 100px">
                                        <asp:Label ID="Label4" runat="server" Font-Size="8pt" Text="DIRECTOV" Font-Bold="True" Font-Names="Arial" CssClass="labelTurk" Visible="False"></asp:Label></td>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                        <asp:Label ID="lblDirectoV" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt" Visible="False"></asp:Label></td>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100px" valign="top">
                                    </td>
                                <td style="width: 100px" valign="top">
                                    <asp:Label ID="lblGuatemala" runat="server" Font-Names="Verdana" Font-Size="8pt"
                                        Text="Label" Visible="False"></asp:Label>
                                        <asp:Label ID="lblQtmon" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt" Visible="False"></asp:Label></td>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                </td>
                                <td style="width: 100px">
                                </td>
                            </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>                        
                        <td style="width: 100px; height: 44px;" valign="top">
                            <asp:ScriptManager ID="ScriptManager1" runat="server">
                            </asp:ScriptManager>
                            <asp:Timer ID="Timer1" runat="server" Interval="90000">
                            </asp:Timer>
                        </td>
                    </tr>
                </table>
</asp:Content>

