<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master"
    AutoEventWireup="true" CodeFile="Live.aspx.cs" Inherits="Live" Title="DIRECTO - Connections Worldwide" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <asp:Label ID="lblHeader" runat="server" Text="MECCA Live Traffic Watch" CssClass="labelTurkH"></asp:Label>
    
         <table align="left" id="mainTable" >
          <tr>
              <td style="width: 106px; height: 47px;" valign="top">
                  </td>
              <td style="width: 100px; height: 47px;" valign="top">
              
              </td>
          </tr>
                    <tr>
                        <td style="width: 106px" valign="top">
                            <table>
                                <tr>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblLive" runat="server" Text="Label" Font-Names="Arial" Font-Size="7pt"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblQtmon" runat="server" Text="Label" Font-Size="8pt"></asp:Label></td>
                                </tr>
                                <tr>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 100px" valign="top">
                            <table>
                                <tr>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonnMI02" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonny" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonny2" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblpremonNY03" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonla" runat="server" Text="Label" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonla2" runat="server" Text="Label" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblPremonNY4" runat="server" Text="Label"></asp:Label></td>
                                </tr>
                                <tr>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtrafficMI02" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblntrafficNY03" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtraffic3" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtraffic2" runat="server" Text="Label"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtraffic" runat="server" Text="Label" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtraffic4" runat="server" Text="Label" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblNtrafficNY4" runat="server" Text="Label"></asp:Label></td>
                                </tr>
                                <tr>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 106px; height: 44px;" valign="top">
                            <asp:Timer ID="Timer1" runat="server" Interval="90000">
                            </asp:Timer><asp:ScriptManager id="ScriptManager1" runat="server"></asp:ScriptManager>
                        </td>
                        <td style="width: 100px; height: 44px;" valign="top">
                            </td>
                    </tr>
                </table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <table visible="false" width="1200" style="position: absolute; top: 5850px; left: 230px;">
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <%--<tr>
            <td width="100%">
                <asp:Image ID="Image3" runat="server" ImageUrl="Images/footer.gif" Width="100%" />
            </td>
        </tr>
        <tr>
            <td align="center">
                <table>
                    <tr>
                        <td align="right">
                            <asp:Label ID="Label3" runat="server" ForeColor="#666666" Text="Powered by" Font-Italic="False"
                                Font-Names="Arial" Font-Size="8pt" Visible="True"></asp:Label></td>
                        <td style="width: 100px">
                            <asp:Image ID="Image9" runat="server" ImageUrl="~/Images/computertel.gif" Height="45px"
                                Width="146px" Visible="True" /></td>
                    </tr>
                </table>
            </td>
        </tr>--%>
    </table>
    
    
    
 
</asp:Content>
