<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Ltw.aspx.cs" Inherits="Ltw" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Live Traffic Watch -- NAT</title>
</head>
<body>
<div class="fer" >

    <form id="form1" runat="server">
    <div>
    
      <table align="left" id="mainTable" >
          <tr>
              <td rowspan="3" style="width: 100px" valign="top">
                  &nbsp;<asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/MECCA2.gif" OnClick="ImageButton1_Click" /></td>
              <td style="width: 106px" valign="top">
                  <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Italic="True" Font-Size="Smaller"
                      ForeColor="Black" Text="Live traffic watch"></asp:Label></td>
              <td style="width: 100px" valign="top">
              
              </td>
          </tr>
          <tr>
              <td style="width: 106px" valign="top">
                  <asp:HyperLink ID="HyperLink1" runat="server" Font-Size="8pt" NavigateUrl="http://mecca.directo.com/upload/Capacity%20Allocation.xls">Capacity Allocation</asp:HyperLink></td>
                  
              <td style="width: 100px" valign="top">
              </td>
          </tr>
                    <tr>
                        <td style="width: 106px" valign="top" align="left">
                            <table>
                                <tr>
                                    <td style="width: 100px">
                                        <asp:Label ID="lblAll" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt"></asp:Label></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 100px" valign="top">
                        <table>
                                <tr>
                                    <td style="width: 100px" align="left">
                                        </td>
                                    <td align="left" rowspan="4" style="width: 100px" valign="top">
                                        <table align="left">
                                            <tr>
                                                <td style="width: 100px" valign="top">
                                                    <asp:Label ID="Label7" runat="server" Font-Bold="True" Font-Names="arial" Font-Overline="False"
                                                        Font-Size="8pt" ForeColor="Black" Text="NATIONAL GUATEMALA" Width="127px"></asp:Label></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px" valign="top">
                                                    <asp:Label ID="lblGuate" runat="server" Font-Names="verdana" Font-Size="8pt" Text="Label"
                                                        Width="80px"></asp:Label></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px" valign="top">
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100px" valign="top">
                                        <asp:Label ID="lblQtmon" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt" Visible="False"></asp:Label></td>
                                            </tr>
                                        </table>
                                        &nbsp;
                                    </td>
                                    <td style="width: 100px" align="left">
                                        <asp:Label ID="Label3" runat="server" Font-Size="8pt" Text="ALFA" Font-Bold="True" Font-Names="Arial"></asp:Label></td>
                                    <td style="width: 100px" align="left">
                                        <asp:Label ID="Label4" runat="server" Font-Size="8pt" Text="DIRECTOV" Font-Bold="True" Font-Names="Arial" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" align="left">
                                        <asp:Label ID="Label5" runat="server" Font-Size="8pt" Text="STARCITY" Font-Bold="True" Font-Names="Arial"></asp:Label></td>
                                    <td align="left" style="width: 100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px" valign="top" align="left">
                                        </td>
                                    <td style="width: 100px" valign="top" align="left">
                                        <asp:Label ID="lblAlfa" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt"></asp:Label></td>
                                    <td style="width: 100px" valign="top" align="left">
                                        <asp:Label ID="lblDirectoV" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt" Visible="False"></asp:Label></td>
                                    <td style="width: 100px" valign="top" align="left">
                                        <asp:Label ID="Label6" runat="server" Font-Names="Verdana" Font-Size="8pt" Text="Label"
                                            Width="80px"></asp:Label></td>
                                    <td align="left" style="width: 100px" valign="top">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                    </td>
                                    <td style="width: 100px">
                                        <asp:Label ID="lblStarCity" runat="server" Text="Label" Width="80px" Font-Names="Verdana" Font-Size="8pt" Visible="False"></asp:Label></td>
                                    <td style="width: 100px">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>                        
                        <td style="width: 106px; height: 44px;" valign="top">
                            <asp:Timer ID="Timer1" runat="server" Interval="90000">
                            </asp:Timer>
                        </td>
                        <td style="width: 100px; height: 44px;" valign="top">
                            <asp:ScriptManager ID="ScriptManager1" runat="server">
                            </asp:ScriptManager>
                        </td>
                    </tr>
                </table>
    
    </div>
    </form>
    
    </div>
    
    
    
    
    
</body>


</html>
