<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="LWLCR.aspx.cs" Inherits="LWLCR" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <iframe src="http://appl02.directo.com/cdirecto/LWLCR.aspx" style="height:900px; width:1000px; border:0" />
</asp:Content>