<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MakeBreakout.aspx.cs" Inherits="Default4" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <br />
        <asp:Label ID="Label2" runat="server" Text="LMC"></asp:Label>
        <asp:TextBox ID="txtLMC" runat="server"></asp:TextBox><br />
        <br />
        <asp:Label ID="Label3" runat="server" Text="REGION"></asp:Label>
        <asp:TextBox ID="txtRegion" runat="server"></asp:TextBox><br />
        <br />
        <br />
        from<asp:TextBox ID="txtFrom" runat="server"></asp:TextBox>
        to<asp:TextBox ID="txtTo" runat="server"></asp:TextBox><br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label></div>
    </form>
</body>
</html>
