<%@ Page Language="C#" MasterPageFile="~/Master.master" StylesheetTheme="Theme1" AutoEventWireup="true" CodeFile="MasterResults.aspx.cs" Inherits="MasterAResults" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" CssClass="labelTurkH" Text="Results"></asp:Label><br />
    <table width="100%" align="left" style="position:absolute; top:220px; left:230px;">
        <tr>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td align="left" style="width: 100px">
                <asp:Button ID="cmdExport" runat="server" CssClass="boton" Text="Export to EXCEL" OnClick="cmdExport_Click" /></td>
        </tr>
        <tr>
            <td align="left" style="width: 100px">
    
    <asp:GridView ID="gdvMaster" runat="server" Font-Names="Arial" Font-Size="8pt" AllowPaging="True" PageSize="100">
    <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
        <RowStyle BackColor="#EFF3FB" HorizontalAlign="Center" />
        <EditRowStyle BackColor="#2461BF" />
        <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
        <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
        <HeaderStyle CssClass="titleOrangegrid" Font-Bold="True" Font-Names="Arial" Height="40px" Font-Size="8pt" />
        <AlternatingRowStyle BackColor="White" />
    
    
    </asp:GridView>
            </td>
        </tr>
    </table>
    <br />

</asp:Content>

