<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="mgmt.aspx.cs" Inherits="mgmt" Title="DIRECTO - Connections Worldwide" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
    <br />
    &nbsp;
    <br />
   
    <br />
    &nbsp;<br />
    <br />
    <br />
    <br />
    <cc1:TabContainer ID="TabContainer1" runat="server">
    
    <cc1:TabPanel ID="PanelA" runat="server" HeaderText=" Minipop Report ">
    <ContentTemplate>
    <table>
        <tr>
            <td style="width: 100px">
   </td>
        </tr>
        <tr>
            <td style="width: 100px">
    <asp:GridView ID="GridView1" runat="server" CellPadding="4" ForeColor="#333333" GridLines="None" AutoGenerateColumns="true">
        
        <Columns>
        
        
        
        
        
        
        </Columns>        
        
        
        
        <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
        <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
        <EditRowStyle BackColor="#999999" />
        <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
        <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
        <HeaderStyle BackColor="SteelBlue" Font-Bold="True" ForeColor="White" />
        <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
    </asp:GridView>
            </td>
        </tr>
    </table>    
    </ContentTemplate>
    </cc1:TabPanel>
    
    
    <cc1:TabPanel ID="PanelB" runat="server" HeaderText="Live Traffic Summary">
    <ContentTemplate>
     <table>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 70px">
            </td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td align="left" style="width: 100px" valign="top">
    <asp:GridView ID="gdvCust" AutoGenerateColumns="true" runat="server" CellPadding="4" ForeColor="#333333" GridLines="None">
        <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
        <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
        <EditRowStyle BackColor="#999999" />
        <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
        <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
        <HeaderStyle BackColor="SteelBlue" Font-Bold="True" ForeColor="White" />
        <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
    </asp:GridView>
            </td>
            <td align="left" style="width: 70px" valign="top">
            </td>
            <td align="left" style="width: 100px" valign="top">
    <asp:GridView ID="gdvVend" AutoGenerateColumns="true" runat="server" CellPadding="4" ForeColor="#333333" GridLines="None">                
        <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
        <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
        <EditRowStyle BackColor="#999999" />
        <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
        <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
        <HeaderStyle BackColor="SteelBlue" Font-Bold="True" ForeColor="White" />
        <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
    </asp:GridView>
            </td>
        </tr>
    </table>    
    </ContentTemplate>        
    </cc1:TabPanel>
    
    </cc1:TabContainer><br />
</asp:Content>

