<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="MonitoringSearch.aspx.cs"
    Inherits="MonitoringSearch" Title="DIRECTO - Connections Worldwide" StylesheetTheme="Theme1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <asp:ScriptManager id="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <%--<asp:UpdatePanel id="UpdatePanel1" runat="server">
        <contenttemplate>--%>
<TABLE style="LEFT: 230px; POSITION: absolute; TOP: 220px"><TBODY><TR><TD vAlign=top align=left><TABLE align=left><TBODY><TR><TD align=left colSpan=2><asp:Label id="Label5" runat="server" Text="Log Search" CssClass="labelTurk"></asp:Label></TD><TD vAlign=top align=left rowSpan=1></TD><TD style="WIDTH: 60%" vAlign=top align=left rowSpan=1></TD></TR><TR><TD style="HEIGHT: 22px" align=left colSpan=2></TD><TD style="HEIGHT: 22px" vAlign=top align=left width="20%" rowSpan=1></TD><TD style="WIDTH: 60%; HEIGHT: 22px" vAlign=top align=left rowSpan=1></TD></TR><TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="Label1" runat="server" Text="Type:" CssClass="labelBlue8"></asp:Label></TD><TD align=left width="30%"><asp:DropDownList id="dpdType" runat="server" Width="140px" CssClass="dropdown"><asp:ListItem Value="%">**ALL**</asp:ListItem>
<asp:ListItem Value="3rd Strike">3rd Strike</asp:ListItem>
<%--<asp:ListItem Value="3rd Strike">Testing / In Monitoring</asp:ListItem>--%>
</asp:DropDownList></TD><TD vAlign=top align=left rowSpan=13></TD><TD style="WIDTH: 60%" vAlign=top align=left rowSpan=13><BR /><BR /><BR /></TD></TR><TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="Label2" runat="server" Text="Vendor:" CssClass="labelBlue8"></asp:Label> </TD><TD align=left width="30%"><asp:DropDownList id="dpdVendor" runat="server" Width="140px" CssClass="dropdown">
                </asp:DropDownList> </TD></TR><%--<TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="Label3" runat="server" Text="Nextone:" CssClass="labelBlue8">
                </asp:Label></TD><TD align=left width="30%"><asp:DropDownList id="dpdNextone" runat="server" Width="140px" CssClass="dropdown">
<asp:ListItem Value="ALL">**ALL**</asp:ListItem>
<asp:ListItem Value="MIA03">MIA03</asp:ListItem>
<asp:ListItem Value="EZLCR">EZLCR</asp:ListItem>
<asp:ListItem Value="EZLCR_MIA">EZLCR_MIA</asp:ListItem>
<asp:ListItem Value="EZLCR_STC">EZLCR_STC</asp:ListItem>
</asp:DropDownList></TD></TR>--%><TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="Label4" runat="server" Text="Status" CssClass="labelBlue8"></asp:Label></TD><TD align=left width="30%"><asp:DropDownList id="dpdStatus" runat="server" Width="140px" CssClass="dropdown">
<asp:ListItem>**ALL**</asp:ListItem>
<%--<asp:ListItem Value="Pending">Pending</asp:ListItem>
<asp:ListItem Value="In Testing">In Testing</asp:ListItem>
<asp:ListItem Value="Test Approved">Test Approved</asp:ListItem>
<asp:ListItem Value="Test Not Approved">Test Not Approved</asp:ListItem>
<asp:ListItem Value="In Monitoring">In Monitoring</asp:ListItem>
<asp:ListItem Value="In Routing">In Routing</asp:ListItem>--%>
<asp:ListItem Value="Closed">Closed</asp:ListItem>
                                            <asp:ListItem Value="Solved">Solved</asp:ListItem>
</asp:DropDownList></TD></TR><TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="lblUser" runat="server" Text="NocUser:" CssClass="labelBlue8"></asp:Label></TD><TD align=left width="30%"><asp:DropDownList id="dpdUser" runat="server" Width="140px" CssClass="dropdown">
                </asp:DropDownList></TD></TR><%--<TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="lblPenalty" runat="server" Text="Penalty Status:" CssClass="labelBlue8"></asp:Label></TD><TD align=left width="30%"><asp:DropDownList id="dpdPenalty" runat="server" Width="140px" CssClass="dropdown">
<asp:ListItem>**ALL**</asp:ListItem>
<asp:ListItem>Warning</asp:ListItem>
<asp:ListItem>Alert</asp:ListItem>
                    <asp:ListItem>Closed</asp:ListItem>
                    <asp:ListItem>Restored</asp:ListItem>
</asp:DropDownList></TD></TR>--%><TR><TD width="10%" bgColor=#d5e3f0><asp:Label id="Label6" runat="server" Text="From:" CssClass="labelBlue8"></asp:Label></TD><TD align=left width="30%"><asp:TextBox id="txtDate" runat="server" Font-Size="8pt" Width="40%" Height="15px" CssClass="labelSteelBlue"></asp:TextBox> <asp:Image id="Image1" runat="server" ImageUrl="~/NeoIma/calendar1.gif"></asp:Image></TD></TR>
    <tr>
        <td bgcolor="#d5e3f0" width="10%">
            <asp:Label ID="Label8" runat="server" CssClass="labelBlue8" Text="To:"></asp:Label></td>
        <td align="left" width="30%">
            <asp:TextBox ID="txtTo" runat="server" CssClass="labelSteelBlue" Height="15px" Width="40%"></asp:TextBox>
            <asp:Image ID="Image2" runat="server" ImageUrl="~/Images/calendar1.gif" /></td>
    </tr>
    <TR><TD align=left width="10%" colSpan=2></TD></TR><TR><TD width="10%"></TD><TD align=left width="30%"><asp:Button id="Button1" onclick="Button1_Click" runat="server" Text="View entries" CssClass="boton"></asp:Button></TD></TR><TR><TD width="10%"></TD><TD align=left width="30%"></TD></TR><TR><TD align=left colSpan=2></TD></TR><TR><TD style="HEIGHT: 21px" width="10%"></TD><TD style="HEIGHT: 21px" width="30%"><cc1:CalendarExtender id="CalendarExtender1" runat="server" PopupButtonID="Image1" TargetControlID="txtDate"></cc1:CalendarExtender>
    <cc1:CalendarExtender ID="CalendarExtender2" runat="server" PopupButtonID="Image2"
        TargetControlID="txtTo">
    </cc1:CalendarExtender>
</TD></TR></TBODY></TABLE></TD><TD vAlign=top align=left><TABLE id="tblResults" align=left><TBODY><TR><TD vAlign=top align=left><TABLE style="WIDTH: 224px"><TBODY><TR><TD style="WIDTH: 41px" bgColor=#d5e3f0><asp:Label id="Label7" runat="server" Text="Results:" CssClass="labelTurk"></asp:Label></TD><TD style="WIDTH: 100px"><asp:Label id="lblNothing" runat="server" Text="Nothing Found" Font-Size="9pt" Width="77%" Visible="False" CssClass="labelBlue8"></asp:Label></TD></TR></TBODY></TABLE></TD></TR><TR><TD align=left>

<asp:GridView id="gdvResults" runat="server" AutoGenerateColumns="false" AllowPaging="true" Font-Family="Arial" font-Size="8pt" OnPageIndexChanging="gdvResults_PageIndexChanging" OnSelectedIndexChanging="gdvResults_SelectedIndexChanging" PageSize="25">
<FooterStyle BackColor="#507CD1" ForeColor="White" Font-Bold="True"></FooterStyle>
<RowStyle BackColor="#EFF3FB" HorizontalAlign="Center"></RowStyle>
<EditRowStyle BackColor="#2461BF"></EditRowStyle>
<SelectedRowStyle BackColor="#D1DDF1" ForeColor="#333333" Font-Bold="True"></SelectedRowStyle>
<PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center"></PagerStyle>
<HeaderStyle Height="40px" CssClass="titleOrangegrid" Font-Size="8pt" Font-Names="Arial" Font-Bold="True"></HeaderStyle>
<AlternatingRowStyle BackColor="White"></AlternatingRowStyle>
<Columns>

<asp:BoundField DataField="DateTime" HeaderText="DateTime" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left" />
<asp:BoundField DataField="NumaraTT" HeaderText="TT#" ItemStyle-Wrap="false"/>
<asp:BoundField DataField="Vendor" HeaderText="Vendor" ItemStyle-Wrap="false"/>
<asp:BoundField DataField="Destination" HeaderText="Destination" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="Specific_Change" HeaderText="Specific_Change" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<%--<asp:BoundField DataField="Nextone" HeaderText="Nextone" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="Target_ASR/ACD" HeaderText="Target_ASR/ACD" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="Production_ASR/ACD" HeaderText="Production_ASR/ACD" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="Capacity" HeaderText="Capacity" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>--%>
<asp:BoundField DataField="Status" HeaderText="Status" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="NocUser" HeaderText="NocUser" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<%--<asp:BoundField DataField="PenaltyStatus" HeaderText="PenaltyStatus" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>--%>
<asp:BoundField DataField="Comments" HeaderText="Comments" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>
<asp:BoundField DataField="Type" HeaderText="Type" ItemStyle-Wrap="false" ItemStyle-HorizontalAlign="Left"/>

</Columns>
</asp:GridView> </TD></TR></TBODY></TABLE>
</TD>
</TR>
</TBODY>
</TABLE>
<%--</contenttemplate>
    </asp:UpdatePanel>--%>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" SelectCommand="SELECT Vendor,Destination,DateTime,Comments FROM Monitoring"
        ConnectionString="<%$ ConnectionStrings:MECCA2ConnectionString %>"></asp:SqlDataSource>
    <asp:SqlDataSource ID="SqlDataSource2" runat="server"></asp:SqlDataSource>
</asp:Content>
