<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="NotAvailable.aspx.cs" Inherits="NotAvailable" Title="Untitled Page" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" Text="For the moment this Page is not available...please try later" CssClass="labelBlue8" Width="290px"></asp:Label>
    
</asp:Content>


