<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="qbuilder1.aspx.cs" Inherits="qbuilder1" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table align="left" style="position:absolute; top:220px; left:230px;">
        <tr>
            <td align="left" colspan="2">
                <asp:Button ID="Button1" runat="server" CssClass="boton" Text="Export to EXCEL" OnClick="Button1_Click" Width="83px" /></td>
        </tr>
        <tr>
            <td align="left" colspan="2">

    <asp:GridView ID="gdvQbuilder" runat="server" AutoGenerateColumns="False"
    AllowPaging="True" OnPageIndexChanging="gdvQbuilder_PageIndexChanging1" 
    OnSelectedIndexChanged="gdvQbuilder_SelectedIndexChanged" 
    OnSelectedIndexChanging="gdvQbuilder_SelectedIndexChanging" PageSize="25" 
    Font-Names="Arial" Font-Size="8pt" GridLines="None">
        <FooterStyle BackColor="#507CD1" Font-Bold="True" ForeColor="White" />
        <RowStyle BackColor="#EFF3FB" HorizontalAlign="Center" />
        <EditRowStyle BackColor="#2461BF" />
        <SelectedRowStyle BackColor="#D1DDF1" Font-Bold="True" ForeColor="#333333" />
        <PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center" />
        <HeaderStyle CssClass="titleOrangegrid" Font-Bold="True" Font-Names="Arial" Height="40px" Font-Size="8pt" HorizontalAlign="Center" Width="80px" />
        <AlternatingRowStyle BackColor="White" />
    </asp:GridView>
            </td>
        </tr>
        <tr>
            <td colspan="2">
    <asp:Label ID="Label1" runat="server" CssClass="labelTurk" Text="Nothing found !!"
        Visible="False" ForeColor="Red"></asp:Label></td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                <asp:Label ID="Label2" runat="server" CssClass="labelBlue8" Text="Label"></asp:Label>
                <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:MECCA2ConnectionString %>" ProviderName="<%$ ConnectionStrings:MECCA2ConnectionString.ProviderName %>"></asp:SqlDataSource>
                </td>
        </tr>
        
        
          <tr>
            <td width="100%" colspan="2">
                <asp:Image ID="Image1" runat="server" ImageUrl="Images/footer.gif" Width="100%" />
            </td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                <table>
                    <tr>
                        <td align="right" style="width: 100px">
                            <asp:Label ID="Label4" runat="server" ForeColor="#666666" Text="Powered by" Font-Italic="False"
                                Font-Names="Arial" Font-Size="8pt" Visible="True"></asp:Label></td>
                        <td style="width: 100px">
                            <asp:Image ID="Image4" runat="server" ImageUrl="~/Images/computertel.gif" Height="45px"
                                Width="146px" Visible="True" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    

</asp:Content>

