<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="qbuilderResultsITNX.aspx.cs" Inherits="qbuilderResults" Title="DIRECTO - Connections Worldwide" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="position:absolute; top:220px; left:230px;">
    <tr>
    <td> <asp:ScriptManager runat="server" id="ScriptMngr1">
    </asp:ScriptManager>
    </td> 
    
    <td>
    
    </td>
    </tr>
    
    <tr>
    <td><asp:UpdatePanel runat="server" id="updtPnl" UpdateMode="Conditional">
    <contenttemplate>
<TABLE align=left><TBODY><TR><TD align=left colSpan=2><asp:Button id="cmdExport" onclick="cmdExport_Click" runat="server" Text="Export to EXCEL" Width="92px" CssClass="boton" __designer:wfdid="w55"></asp:Button></TD></TR><TR><TD align=left colSpan=2><asp:GridView id="gdvQbuilder" runat="server" Font-Size="8pt" Font-Names="Arial" __designer:wfdid="w56" DataSourceID="SqlDataSource1" GridLines="None" PageSize="25" OnSelectedIndexChanging="gdvQbuilder_SelectedIndexChanging" OnSelectedIndexChanged="gdvQbuilder_SelectedIndexChanged" OnPageIndexChanging="gdvQbuilder_PageIndexChanging1" AllowPaging="True" OnSorting="gdvQbuilder_Sorting" AllowSorting="True">
<FooterStyle BackColor="#507CD1" ForeColor="White" Font-Bold="True"></FooterStyle>

<RowStyle BackColor="#EFF3FB" HorizontalAlign="Center"></RowStyle>

<EditRowStyle BackColor="#2461BF"></EditRowStyle>

<SelectedRowStyle BackColor="#D1DDF1" ForeColor="#333333" Font-Bold="True"></SelectedRowStyle>

<PagerStyle BackColor="#2461BF" ForeColor="White" HorizontalAlign="Center"></PagerStyle>

<HeaderStyle Width="80px" Height="40px" CssClass="titleOrangegrid" HorizontalAlign="Center" Font-Size="8pt" Font-Names="Arial" Font-Bold="True"></HeaderStyle>

<AlternatingRowStyle BackColor="White"></AlternatingRowStyle>
</asp:GridView> </TD></TR><TR><TD colSpan=2><asp:Label id="Label1" runat="server" Text="Nothing found !!" ForeColor="Red" Visible="False" CssClass="labelTurk" __designer:wfdid="w57"></asp:Label></TD></TR><TR><TD align=left colSpan=2><asp:Label id="Label2" runat="server" Text="Label" CssClass="labelBlue8" __designer:wfdid="w58"></asp:Label> <asp:SqlDataSource id="SqlDataSource1" runat="server" __designer:wfdid="w59" ProviderName="<%$ ConnectionStrings:MECCA2ConnectionString.ProviderName %>" ConnectionString="<%$ ConnectionStrings:MECCA2ConnectionString %>"></asp:SqlDataSource> </TD></TR><TR><TD width="100%" colSpan=2><asp:Image id="Image1" runat="server" ImageUrl="Images/footer.gif" Width="100%" __designer:wfdid="w60"></asp:Image> </TD></TR><TR><TD align=left colSpan=2><TABLE><TBODY><TR><TD style="WIDTH: 100px" align=right><asp:Label id="Label4" runat="server" Text="Powered by" ForeColor="#666666" Font-Size="8pt" Font-Names="Arial" Visible="True" __designer:wfdid="w61" Font-Italic="False"></asp:Label></TD><TD style="WIDTH: 100px"><asp:Image id="Image4" runat="server" ImageUrl="~/Images/computertel.gif" Width="146px" Height="45px" Visible="True" __designer:wfdid="w62"></asp:Image></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>
</contenttemplate>
    <triggers>
<asp:PostBackTrigger ControlID="cmdExport"></asp:PostBackTrigger>
</triggers>
    </asp:UpdatePanel></td> 
    
    <td align="left" valign="top">         
        <asp:UpdateProgress id="UpdateProgress1" runat="server">
            <progresstemplate>
    
    <table>
    <tr>
        <td>
            <asp:Label ID="Label3" runat="server" Text="Loading,please wait..." CssClass="labelBlue8" Width="108px"></asp:Label>
        </td>
        <td>
            <asp:Image ID="Image2" runat="server" ImageUrl="~/Images/Loading.gif" />
        </td>
    </tr>
    <tr>
        <td style="width: 106px; height: 44px;" valign="top">
            <asp:Timer ID="Timer1" runat="server" Interval="300000">
            </asp:Timer>
        </td>
        <td style="width: 100px; height: 44px;" valign="top">
            </td>
    </tr>
    </table></progresstemplate>
        </asp:UpdateProgress><br />
    
    </td>
    </tr>
    
    </table>
</asp:Content>

