<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="QueryBuilder.aspx.cs" Inherits="QueryBuilder" Title="Untitled Page" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <select id="Select1" runat="server" visible="false">
        <option></option>
    </select>
    <asp:Button ID="Button1" runat="server" Text="Button" />
    <%--<asp:DropDownList ID="dpdCustomer" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdVendor" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdOip" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdTip" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdCountry" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdRegion" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdType" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdClass" runat="server">
    </asp:DropDownList>
    
    <asp:DropDownList ID="dpdSource" runat="server">
    </asp:DropDownList>    
    
    <asp:DropDownList ID="dpdReport" runat="server">
    </asp:DropDownList>--%>
</asp:Content>

