<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="qviewer.aspx.cs" Inherits="qviewer" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:GridView ID="gdvQviewer" runat="server" AutoGenerateColumns="false">
    </asp:GridView>
</asp:Content>

