<%@ Page Language="C#" AutoEventWireup="true" CodeFile="readcookies.aspx.cs" Inherits="readcookies" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
Use the button below to read a cookie<br>
<form id="Form1" runat="server">
Cookie Name <asp:textbox id="NameField" runat="server" />
<asp:button ID="Button1" text="ReadCookie" onclick="ReadClicked" runat="server" />
</form>
<a href="test.aspx">Write Cookies</a>
</body>
</html>
