<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="SCountry.aspx.cs" Inherits="SCountry" Title="Untitled Page" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table align="left">
        <tr>
            <td style="width: 100px" valign="top">
            </td>
            <td align="left" style="width: 95px" valign="top">
            </td>
            <td align="left" style="width: 170px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px; height: 23px" valign="top">
                <asp:Label ID="Label1" runat="server" CssClass="labelBlue8" Text="Edit Comments:"></asp:Label></td>
            <td align="left" style="width: 95px; height: 23px" valign="top">
            </td>
            <td align="left" style="width: 170px; height: 23px" valign="top">
            </td>
        </tr>
        <tr>
            <td>
                <ul style="color: #004d88" type="square">
                    <li style="text-align: left"></li>
                </ul>
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox1" runat="server" Width="256px" TextMode="MultiLine"></asp:TextBox></td>
            <td align="left" style="width: 170px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
                <ul style="color: #004d88" type="square">
                    <li style="text-align: left"></li>
                </ul>
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox2" runat="server" Width="256px" TextMode="MultiLine"></asp:TextBox></td>
            <td align="left" style="width: 170px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
                <ul style="color: #004d88" type="square">
                    <li style="text-align: left"></li>
                </ul>
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox3" runat="server" Width="256px" TextMode="MultiLine"></asp:TextBox></td>
            <td align="left" style="width: 170px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
                    <p style="text-align: left">
                        &nbsp;</p>
            </td>
            <td align="left" style="width: 95px" valign="top">
                </td>
            <td align="left" style="width: 170px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:Button ID="Button1" runat="server" CssClass="boton" OnClick="Button1_Click"
                    Text="Upload" /></td>
            <td align="left" style="width: 170px" valign="top">
                <asp:Label ID="Label6" runat="server" CssClass="labelBlue8" Text="Comments Uploaded"
                    Visible="False" Width="105px"></asp:Label></td>
        </tr>
        <tr>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;</td>
            <td style="width: 170px">
            </td>
        </tr>
    </table>
</asp:Content>

