<%@ Page Language="C#" MasterPageFile="~/MasterIphone.master" AutoEventWireup="true" CodeFile="SilverTest.aspx.cs" Inherits="SilverTest" Title="Untitled Page" StylesheetTheme="Theme1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div align="left">
Hola<table>
        <tr>
            <td style="width: 100px">
                f</td>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
                g</td>
            <td style="width: 100px">
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
            </td>
            <td style="width: 100px">
                h</td>
        </tr>
    </table>


</div>

<div>
fer
</div>
</asp:Content>

