<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SimEmailSender.aspx.cs" Inherits="SimEmailSender" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblError" runat="server"></asp:Label>
        <asp:Button ID="cmdRun" runat="server" Text="Run..." OnClick="cmdRun_OnClick" Enabled="true" UseSubmitBehavior="false" />
        
    </div>
    </form>
</body>
</html>
