<%@ Page Language="C#" StylesheetTheme="Theme1" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="SpecialConsiderations.aspx.cs" Inherits="SpecialConsiderations" Title="DIRECTO - Connections Worldwide" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table align="left">
        <tr>
            <td style="width: 100px" valign="top">
                </td>
            <td style="width: 95px" valign="top" align="left">
                </td>
            <td align="left" style="width: 103px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px; height: 23px" valign="top">
                <asp:Label ID="Label1" runat="server" Text="Edit Comments:" CssClass="labelBlue8"></asp:Label></td>
            <td align="left" style="width: 95px; height: 23px" valign="top">
            </td>
            <td align="left" style="width: 103px; height: 23px" valign="top">
            </td>
        </tr>
        <tr>
            <td>
            <ul style="color: #004D88" type="square">
            <li style="text-align: left;">
            </li>            
            </ul>
            </td>
            
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox1" runat="server" TextMode="MultiLine" Width="256px"></asp:TextBox></td>
            <td align="left" style="width: 103px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
            <ul style="color: #004D88" type="square">
            <li style="text-align: left;">
            </li>            
            </ul>
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox2" runat="server" TextMode="MultiLine" Width="256px"></asp:TextBox></td>
            <td align="left" style="width: 103px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
            <ul style="color: #004D88" type="square">
            <li style="text-align: left;">
            </li>            
            </ul>
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:TextBox ID="TextBox3" runat="server" TextMode="MultiLine" Width="256px"></asp:TextBox></td>
            <td align="left" style="width: 103px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
            <p style="text-align: left;">
                &nbsp;</p>            
            </td>
            <td align="left" style="width: 95px" valign="top">
                </td>
            <td align="left" style="width: 103px" valign="top">
            </td>
        </tr>
        <tr>
            <td style="width: 100px" valign="top">
            </td>
            <td align="left" style="width: 95px" valign="top">
                <asp:Button ID="Button1" runat="server" CssClass="boton" Text="Upload" OnClick="Button1_Click" /></td>
            <td align="left" style="width: 103px" valign="top">
                <asp:Label ID="Label6" runat="server" CssClass="labelBlue8" Text="Comments Uploaded"
                    Visible="False" Width="105px"></asp:Label></td>
        </tr>
        <tr>
            <td colspan="3">
                </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;</td>
            <td style="width: 103px">
            </td>
        </tr>
    </table>
</asp:Content>

