<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="TopStatsVendor.aspx.cs" Inherits="TopStatsVendor" Title="DIRECTO - Connections Worldwide" StylesheetTheme="Theme1"%>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table>
        <tr>
            <td>
                <asp:Label ID="Label1" runat="server" CssClass="labelTurk" Text="Top Customer Stats"
                Width="235px"></asp:Label>
            </td>            
        </tr>
        <tr>
            <td>                            
                &nbsp;
            </td>
        </tr>
   </table>
   
                    
   <center>
   <asp:Label ID="stats" runat="server"  Font-Names="Arial" Font-Size="9pt" Text="Label"></asp:Label>
   </center> 
</asp:Content>

