<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="TrafficLog.aspx.cs" Inherits="TrafficLog" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <table>
        <tr>
            <td style="width: 100px">
                <asp:DropDownList ID="DropDownList1" runat="server">
                    <asp:ListItem Value="1">uno</asp:ListItem>
                    <asp:ListItem Value="2">dos</asp:ListItem>
                    <asp:ListItem Value="3">tres</asp:ListItem>
                    <asp:ListItem Value="4">cuatro</asp:ListItem>
                </asp:DropDownList></td>
            <td style="width: 100px">
                <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" /></td>
        </tr>
    </table>
    <asp:GridView ID="MyDataSetTableAdapters" runat="server">
    </asp:GridView>
</asp:Content>

