<%@ Page Language="C#" MasterPageFile="~/Master.master" AutoEventWireup="true" CodeFile="UpdateDialPlan.aspx.cs" Inherits="UpdateDialPlan" Title="DIRECTO-Connections Wroldwide" Theme="Theme1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <table >
        <tr>
            <td>
                <asp:Label ID="Label1" runat="server" CssClass="labelTurk" Text="Dial Plan Update" Width="263px"></asp:Label>
            </td> 
        </tr>    
        <tr>
            <td>
            &nbsp;
            </td>
        </tr> 
        <tr>
            <td style="width: 100px">
                <asp:FileUpload ID="FU" runat="server" />
            </td>
            <td style="width: 100px">
                <asp:Button ID="btnApply" runat="server" OnClick="btnApply_Click" Text="Apply" CssClass="boton" />
            </td>
        </tr>
        <tr>
            <td style="width: 100px">
                <asp:Label ID="lblUpload" runat="server" CssClass="labelBlue8">
                </asp:Label>
            </td>
        </tr>                
        <tr>            
            <td>
                <asp:ScriptManager id="ScriptManager1" runat="server">
                </asp:ScriptManager>
            </td>
        </tr>
    </table>

</asp:Content>


