﻿.header1grid
{
  background-color:White;
  color:Orange;
  font-size:8pt;
  font-family:Arial;
}

.contentGrid
{
    font-family:Arial;
    font-size:8pt;
    color:#808080;
    background-color:White;
}

.alternatingRow
{
  background-color:#DCDCDC;
}

.treeviewStyle
{
   font-size:small;
   font-style:normal;
    color:#000040;
   font-weight:bold;
    
}


.TabAlign
{
    position:absolute;
    top:170px;
    left:228px;

}

.SelectedNodeStyle
{
 color:Navy;    
    
}

.labelSteelBlue
{
    
    color:#808080;
    font-size:8pt;
    font-family:Arial;
}


.white
{
color:White;
font-family:Arial;
font-size:8pt;
}

    
.textMenu
{ 
    font-size:9pt;
    font-style:normal;    
    font-family:Arial;
    color:#004A9E;
    background-color:White; 
    width:206px;   
    
}
        
.headerStyleGridview
{
 color:White;
 background-color:Blue; 
}


P {font-family: arial;font-size: 8pt;}

.styleLive TD
{
     font-family:Arial;
     font-size:8pt;
     color:#004D88;    
}


.styleLive1:table >TR TD
{
     font-family:Arial;
     font-size:8pt;
     color:#333333;
     background:"#d5e3f0";
}




.dropdown
{
  width: 154px; color: #808080; font-size: 8pt; border-style: solid; 
  border-width: 1px; padding-left: 4px;
  padding-right: 4px; padding-top: 1px; padding-bottom: 1px; 
  
}

    
.titleOrangegrid
{
     color:#F38330;
     background-color:White;
     font-size:8pt;
     font-family:Arial;
 
}

labelOrange8
{
    color:#F38330;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;    
    
}

.labelOrange20
{
    color:#F38330;
    font-family:Arial;
    font-size:20pt;
    font-weight:bold;    
    
}        

.labelTurk
{  
    color:#004D88;
    font-family:Arial;
    font-size:9pt;
    font-weight:bold;
}

.labelBal
{  
    color:#004D88;
    font-family:Arial;
    font-size:20pt;
    font-weight:bold;
}

.labelTurkH
{  
    color:#004D88;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;
    position:absolute;
    top:170px;
    left:228px;
}




.lblBilling
{  
    color:red;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;
    position:absolute;
    top:155px;
    left:228px;
}

.lblNotFound
{  
    color:red;
    font-family:Arial;
    font-size:8pt;
    font-weight:bold;
}

.gridposition
{
    position:absolute;
    top:100px;
    left:0px;    
    
}
   
        
.boton
{
    color: #004D88;
    font-size: 8pt;
    border: 1px solid #96B8D8;
    background-color: #E4F1FD;
    width:80px;
   
}

.textBox
{
    color: #808080; font-size: 8pt; 
    border-style: solid; border-width: 1px; 
    padding-left: 4px; padding-right: 4px; 
    padding-top: 1px; padding-bottom: 1px;
       
}
    

    
.labelBlue8
{
    color: #004A8F;
    font-family:Arial;
    font-size:8pt;
        
}
    


.GridView
{
 font-family:Arial;
 font-size:8pt;
 color:#666666;
     
}

.modalBackground
{
	background-color:Gray;
	
	
}

.clicked
{
    border:none;
    background-image: url(tab.png);
    color:White;
    font-family:Arial;
    font-size:9pt;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.unclicked
{
    border:none;
    background-image: url(tab.png);
    color:black;
    font-family:Arial;
    font-size:8pt;
    padding: 5px 10px 5px 10px;
    font-weight: normal;
}