
.P {font-family: arial;font-size: 8pt;}
.A { color:#000000; text-decoration:none; }
.whitelink { color:#FFFFFF; text-decoration:none; }
.blacklink { color:#000000; text-decoration:none; }
.blacklinkwithrollover { color:#000000; text-decoration:none; }
.bluelink { color:#0000FF; text-decoration:none; }
A:hover { color:#CC3300; text-decoration:none; }
A:hover.blacklink { color:#000000; text-decoration:underline; }
A:hover.blacklinkwithrollover { color:#0000FF; background-color: #FFFF33; text-decoration:underline; }
A:hover.bluelink { color:#0000FF; background-color: #FFFF33; text-decoration:underline; }
.boxborder { border-color:#000000; border-style:solid; border-width:1; }
.logintable, .logintable TD
{
    background-image: url('~/Pag/imas/bgbluesession.jpg');
    background-repeat:repeat;
    background-color:blue;
}
img[alt='Skip Navigation Links'] {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}